<!-- Create a welcome message -->
<div class="title">
    <h1>{{ title }}</h1>
    <h2> Welcome to the {{ store }} !</h2>
</div>
<!-- Display photo and description -->
<div class="container">
    <div class="photo1">
      <h2>{{ item }}</h2>
      <h3> The cost of the Apple Macbook is $ {{ 1000 + 500 }} </h3>
      <img src="assets/photo1.jpg" alt="Photo 1" class="image">
    </div>
    <div class="photo2">
        <h2>{{ product }}</h2>
        <h3> The cost of the Apple iPhone is $ {{ 2000 + 500 }} </h3>
        <img src="assets/photo2.jpg" alt="Photo 2" class='image'>
    </div>
</div>  

